.section-header{
  background: #222229;
  color: #fff;
  height: 240px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-option{
  margin-top: 40px;
}
