.page-footer{
  background: #131018;
  color: #ffffff;
  position: relative;
  height: 200px;
  margin-bottom: 0;
  bottom: 0;
  clear: both;

  .row{
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
