/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body{
  background: #33333D;
  height: 100%;
}

.text-exchange{
  color: #141033;;
}
.text-exchange-success{
  color: #02B1AF;
}
