<app-header></app-header>


<section class="container">

  <div class="row card">
    <form [formGroup]="presenter.form" (ngSubmit)="convert()" name="form">

      <div class="row mb-3">
        <div class="col-6 text-center">
          <h6>Amount</h6>
        </div>
        <div class="col-6 text-center">
          <h6>Converted to</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-input-exchange
            name="moneyToExchange"
            [formControlName]="'moneyToExchange'"
            [symbol]="exchanges[0]"
          ></app-input-exchange>
        </div>
        <div class="col-6">
          <app-input-exchange
            name="moneyExchanged"
            [formControlName]="'moneyExchanged'"
            [disabled]="presenter.moneyExchanged.disabled"
            [symbol]="exchanges[1]"
          ></app-input-exchange>
        </div>
      </div>

      <div class="row mt-5">

        <div class="col-6 text-exchange text-center">
          <h3>
            1 {{exchanges[0]}} = {{exchangeBodyResponse.exchangeInvested?.EUR.toFixed(4)}} {{exchanges[1]}}
          </h3>
        </div>

        <div class="col-6 text-right">
          <button class="btn btn-send" type="submit">
            Done
          </button>
        </div>
      </div>
    </form>
  </div>

</section>

<app-footer></app-footer>
